.DS_Store
.env
.env.*
!.env.example

# Node / Next.js
node_modules/
.next/
out/
dist/
node-v*-darwin-*/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/.env

# IDE
.vscode/
